.grid-element
{
    border-color: black;
    border: 1px;
    border-style: solid;
    margin: 1px;
    padding: 2px;
    width: 10px;
    height: 10px;
}

.row-container
{
    display: flex;
}

.change-background-color
{
    background-color: black;
}
